@if ((bool)ViewData["IsRu"])
{
        <h1 align="center">Нет достаточного количества товара проверьте свой список покупок или свяжитесь с нами по номеру</h1>
}
else
{
    <h1 align="center">Stoc insuficient, vă rugăm să verificați lista de cumpărături sau să ne contactați la numărul</h1>
}