@model CategoryModel

 <form asp-action="CategoryC" asp-controller="Admin">
    NameRO: <input type="text" asp-for="@Model.NameRo">
        <span style="margin:30px" size="50">|</span>
    NameRu:<input type="text" asp-for="@Model.NameRu">
        <button type="submit">Сохранить</button>
        </form>