@model Omaha_market.Models.ProductModel
@{
    ViewData["Title"] = "AddProduct";
}



<h1 align="center">AddProduct</h1>

<br />
<br />

<form enctype="multipart/form-data" href="#" method="post">
    <div align="center">
        <div align="center">

            <div>
                nameRu:
                <input type="text" asp-for="NameRu" placeholder="name ru" />
                <span style="margin:30px" size="50">|</span>
                nameRo:
                <input type="text" asp-for="NameRo" placeholder="name ro" />

                <div>
                    <span asp-validation-for="NameRu" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div>
                Img:
                <input type="file" name="photo" />

            </div>
            <br />
            <div>

                DisRu:
                <input type="text" asp-for="DescriptionRu" placeholder="Description ru" />
                <span style="margin:30px" size="50">|</span>
                DisRo:
                <input type="text" asp-for="DescriptionRo" placeholder="Description ro" />

                <div>
                    <span asp-validation-for="DescriptionRu" class="text-danger"></span>
                </div>

            </div>

            <br />
            <div>

                Prise:
                <input type="text" name="Price" placeholder="150" />

                <div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

            </div>
            <div>

                PriseOnDis:
                <input type="text" name="PriceOnDiscount"/>

                <div>
                    <span asp-validation-for="PriceOnDiscount" class="text-danger"></span>
                </div>

            </div>
            <br />

            <div>

                Category:
                <select asp-for="CategoryRu">
                    @foreach (var item in (List<CategoryModel>)ViewData["CategoryModel"])
                    {
                        <option value=@item.NameRu>@item.NameRu</option>
                    }
                </select>
                <div>
                    <span asp-validation-for="CategoryRu" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div>
                On Discount:
                <input type="checkbox" asp-for="OnDiscount"/>

                FromSome:
                <input type="checkbox" asp-for="FromSome" />
            </div>

            <br />
             amount:
                <input type="number" asp-for="amount"/>

                <div>
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>

            </div>

             <br />

            <div class="text-center">
                <button type="submit"> Add </button>
            </div>

            <br />
        </div>
</form>

