@model List<CategoryModel>

    <a asp-action="AddCategory" asp-controller="Admin">+Добавить</a>

    @foreach(var item in Model)
    { 
        <div>
        <span>NameRO:  @item.NameRo</span>
        <span style="margin:30px" size="50">|</span>
        <span>NameRu:  @item.NameRu</span>
        <a asp-action="CategoryC" asp-controller="Admin" asp-route-id="@item.Id">Изменить</a>
        <a asp-action="CategoryD" asp-controller="Admin" asp-route-id="@item.Id">Удалить</a>
        </div>
    }