@model CategoryModel

<form method="post">

        NameRO: <input type="text" asp-for="NameRo" value="@Model.NameRo">
        <span style="margin:30px" size="50">|</span>
        NameRu:<input type="text" asp-for="NameRu" value="@Model.NameRu">
        <button type="submit">Изменить</button>
        </form>