@model Omaha_market.Models.ProductModel
@{
    ViewData["Title"] = "AddProduct";
}



<h1>AddProduct</h1>

<form enctype="multipart/form-data" href="#" method="post">
    <div class="bd">
        <div align="center">

            <div>
                name:
                <input type="text" asp-for="Name" placeholder="name" />

                <div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div>
                Img:
                <input type="file" name="photo" />

            </div>
            <br />
            <div>

                Dis:
                <input type="text" asp-for="Description" placeholder="Description" />

                <div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>

            <br />
            <div>

                Prise:
                <input type="number" asp-for="price" placeholder="150" />

                <div>
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>

            </div>
            <br />

            <div>

                Category:
                <select asp-for="Category">
                    @foreach (var item in (List<CategoryModel>)ViewData["CategoryModel"])
                    {
                        <option value=@item.Name>@item.Name</option>
                    }
                </select>
                <div>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div>
                On Discount:
                <input type="checkbox" asp-for="OnDiscount"/>

             
            </div>

            <br />
             amount:
                <input type="number" asp-for="amount"/>

                <div>
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>

            </div>

             <br />

            <div class="text-center">
                <button type="submit"> regist </button>
            </div>

            <br />
        </div>
</form>

