@model IEnumerable<Omaha_market.Models.ProductModel>
@{
    ViewData["Title"] = "Favorite";
}

<h1>Favorite</h1>

<table class="table">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
        {
      
        <tr> 
            <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
            <td><img src="~/Images/@item.Img" width="100px" /></td>
            <td>@item.NameRu</td>
            <td>@item.Price</td>
            <td><a asp-action="DeleteFa" asp-controller="ShoppingCart" asp-route-id="@item.Id"><img src="~/Images/WebElements/крест.png" width="20px" /></a></td>
            </a>
        </tr>
        
        }
</table>
