@model IEnumerable<Omaha_market.Models.ProductModel>
@{
    ViewData["Title"] = "Favorite";
}

<h1 align="center">Favorite</h1>
<br />
@if (Model.Count() == 0)
{
    <div align="center">Любимых нет</div>
}
else{
<table class="table">
    @foreach (var item in Model)
        {     
        <tr>
            <td> <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id"><img src="~/Images/@item.Img" class="cart"/></a></td>
            <td> <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">@item.NameRu</a></td>
            <td><a asp-action="DeleteFa" asp-controller="ShoppingCart" asp-route-id="@item.Id"><img src="~/Images/WebElements/крест.png" class="dcart" /></a></td>           
        </tr>
        }
</table>
}