
@{
    ViewData["Title"] = "ShoppingCart";
}

<div class="text-center">

    <h3>@ViewBag.Lang["Нужно зайти в аккаунт для использования"]</h3>
    <br />
    <br />
    <br />
    <br />

    <a asp-controller="Authorization" asp-action="Index">@ViewBag.Lang["Войти в аккаунт"]</a>

</div>