
@{
    ViewData["Title"] = "ShoppingCart";
}

<div class="text-center">

<h1>Нужно зайти в аккаунт для использования</h1>
<br />
<a asp-controller="Authorization" action="Index">Войти в аккаунт</a>

</div>