@model string

@{
    ViewData["Title"] = "Form page";
}

<div class="text-center">
    <div>Нou are logged in as @Model</div>
    <br />
    <form method="post" asp-controller="Authorization" asp-action="LogOut">
        <button type="submit">Log out</button>
    </form>
</div>
