
@{ViewData["Title"] = "Form page"; }

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login">
   <div class="text-center">
    <form method="post">
        <label name="Login">Login :</label>
        <input type="text" name="login"/>
        <br />
        <label name="Password">Password :</label>
        <input type="password" name="password"/>
        <br />
        <div>@ViewData["Eror"]</div>
        <button type="submit">Log in</button>
    </form>
    <br />
    <a asp-action="Regist" asp-controller="Users">Make your account</a>
   </div>
</div>