/* Стиль для таблицы */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

    table th,
    table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    table th {
        background-color: #f2f2f2;
        color: #333;
    }

/* Стиль для кнопок */
button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

    button:hover {
        background-color: #3e8e41;
    }

/* Стиль для кнопки удаления */
.Delete {
    background-color: #f44336;
}

/* Стиль для заголовка */
h5 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стиль для блока с кнопками */
.home {
    text-align: center;
}

    .home button {
        margin-right: 20px;
    }

/* Стиль для формы */
form {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

/* Стиль для ссылки */
a {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

    a:hover {
        background-color: #3e8e41;
    }
