/* Стиль для таблицы */
.Cab table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .Cab table th,
    table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .Cab table th {
        background-color: #f2f2f2;
        color: #333;
    }

/* Стиль для кнопок */
.Cab button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

    .Cab button:hover {
        background-color: #3e8e41;
    }

/* Стиль для кнопки удаления */
.Cab .Delete {
    background-color: #f44336;
}

/* Стиль для заголовка */
.Cab h5 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стиль для блока с кнопками */
.Cab .home {
    text-align: center;
}

    .Cab .home button {
        margin-right: 20px;
    }

/* Стиль для формы */
.Cab form {
    margin-bottom: 20px;
}

.Cab label {
    font-size: 18px;
    margin-right: 10px;
}

.Cab input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

/* Стиль для ссылки */
.Cab a {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

    .Cab a:hover {
        background-color: #3e8e41;
    }
