html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.Page{
    color: black;
    text-decoration:none;
}

a.On {
    color: black;
    text-decoration: underline;
}