html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.Page{
    color: black;
    text-decoration:none;
}

a.On {
    color: black;
    text-decoration: underline;
}

input[type=text].Search {
    border-radius: 20px;
    padding:0px 10px;
    transition: width ease-in-out 0.6s;
    width:80px;
    margin:0px 0px 0px 15px;
}

input[type=text]:focus.Search {
    background-color: lightblue;
    width: 180px;
}
button.Search {
    border: none;
    background: none;
}
button{
    border-radius:15px;
    background:none;
   
}
button.Delete {
    background-color:red;
    color:aliceblue;
}
div.home{
    display:flex;
    justify-content:space-around;
}